@page "/notes"
@rendermode InteractiveServer
@inject DatabaseContext dbContext
@using Microsoft.AspNetCore.Components.QuickGrid

<PageTitle>Notes</PageTitle>

<h1>Notes</h1>

<div class="container">
    @foreach (var note in notes)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        @if (note.Student != null)
                        {
                        <span>Student: <a href='student/@(note.Student.ID)'>@(note.Student.Name)</a></span>
                        }
                        @if (note.Homework != null)
                        {
                            <span>, Homework: <a href='homework/@(note.Homework.ID)'>@(note.Homework.Description)</a></span>
                        }
                        @if (note.Lesson != null)
                        {
                            <span>, Lesson: <a href='lesson/@(note.Lesson.ID)'>@(note.Lesson.LessonDate.ToLocalTime().DateTime.ToShortDateString())</a></span>
                        }
                    </div>
                    <div class="card-body">
                        <pre>@note.Text</pre>
                    </div>
                    <div class="card-footer">@note.GenerateFooter()</div>
                </div>
            </div>
        </div>
        <br/>
    }
</div>

@code {
    IQueryable<Note> notes;

    protected override async Task OnInitializedAsync()
    {
        notes = dbContext.Notes
            .Include(e => e.Lesson)
            .Include(e=> e.Student)
            .Include(e => e.Homework)
            .OrderByDescending(e => e.Created);
    }
}
